#root {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.appContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.appTitle {
  display: flex;
  justify-content: center;
}

.appComponents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.centerComponents {
  margin: 0;
  width: 600px;
}

.centerComponents .instructions {
  display: flex;
  justify-content: center;
}

.appTitle {
  margin: auto;
}

@media(max-width: 768px){
  [class*="centerComponents"] {
    width: 100%
  }
  [class*="appTitle"] {
    font-size: 2rem;
  }
}